* 共通指示
    * .aws/ ディレクトリは以下のファイルに関して
        * プログラムとしては読み込むが、Agentで直接読み書きは行わない。
        * 対象のファイルを読み込む必要があるコマンド実行は行わない。
    * 3rdモジュール・ライブラリに関して
        * 対象のライセンスを必ず確認する。
        * ライセンスに応じて必要な対応を行う。
    * ドキュメントに関して
        * 日本語で記載する。
        * README.md: 開発者向けドキュメント。
        * Manual.md: 利用者向けドキュメント。
* 今回の指示
    *
